.form-wrapper {
    position: relative;
    width: 400px;
    text-align: center;
    align-items: center;
    align-content: center;
    left: 30%;
}

.form-label {
    display: block;
    text-align: left;
    width: 200px;
}

.field {
    display: flex;
    padding-top: 10px;
    text-align: center;
    justify-content: center;
    line-height: 30px;
}

.input-field {
    width: 200px;
    border: 1px solid;
    border-radius: 4px;
    height: 20px;
    padding: 5px;
}

.result-field {
    text-align: right;
}

.recalculate-row {
    text-align: right;
}

.recalculate-button {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    height: 32px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 206px;
}

.result-plus {
    border: 1px green solid;
    border-radius: 4px;
    height: 20px;
    padding: 5px;
    width: 194px;
}

.result-minus {
    border: 1px red solid;
    border-radius: 4px;
    height: 20px;
    padding: 5px;
    width: 194px;
}

.result-zero {
    border: 1px solid;
    border-radius: 4px;
    height: 20px;
    padding: 5px;
    width: 194px;
}